@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#container{
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  /* background: lightblue; */
}
.header{
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  /* background: beige; */
}
.nav-wrapper{
  width: 75%;
  height: 100%;
  /* background: lightcoral; */
  display: inherit;
  align-items: center;
  justify-content: flex-end;
}
.logo{
  width: 120px;
  height: fit-content;
  margin: 15px 30px;
}

.nav-list{
  width: 90%;
  height: 70%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  /* background: rgb(93, 151, 151); */
  z-index: 0;
  
}
.nav-el{
  margin: 0px 0px 20px 0 ;
}

.link{
  color: rgb(189, 149, 17);
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 1.3rem;
}
.link:hover{
  color: rgb(221, 171, 7);
  font-size: 1.5rem;
}
.nav-list-btn{
  width: 0;
  height: 0;
  position: absolute;
  top: -220px;
  right: -220px;
  border-radius: 50%;
  list-style: none;
  /* background: yellow; */
  box-shadow:  inset 0 0 2000px rgba(161, 121, 28, 0.5);
  display: none;
  /* z-index: 1; */
}
.btn-list-el{
  position: absolute;
  top: 200px;
  right: 200px;
}

.menu{
  width: 50px;
  height: 40px;
  border: none;
  background: transparent;
  margin-right: 40px;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
}

.burger{
  height: 6px;
  /* background: black; */
  border: 3px solid black;
  border-radius: 5px;
  margin: 2px;
  display: none;
}

.burger1{
  width: 15px;
}
.burger2{
  width: 25px;
}
.burger3{
  width: 35px;
}
.burger3:hover{
  background: greenyellow;
  border-color: greenyellow;
}
.burger2:hover{
  background: yellow;
  border-color: yellow;
}
.burger1:hover{
  background: rgb(207, 43, 14);
  border-color: rgb(207, 43, 14);
}

/* first section  */
.section{
  scroll-snap-align: end ;
}
.first-section{
  width: 100vw;
  height: 107vh;
  position: relative;
  top: -200px;
  z-index: -1;
  background-image: url(./images/background-light.avif);
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.title{
  color: rgb(218, 161, 87);
  font-size: 4rem;
  text-shadow: 5px 5px 5px rgb(108, 87, 87);
}
.description{
  color: rgb(92, 75, 75);
  font-size: 2.5rem;
}
/* second section  */
.second-section{
  width: 100vw;
  height: 100vh;
  background-color: rgb(143, 123, 111);
  margin: 0;
  position: relative;
  top: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.about-wrapper{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items:flex-start ;
  justify-content: space-evenly;
}
.about-header{
  width: 100%;
  height: 18%;
  font-size: 2.5rem;
  padding-top: 30px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.about-header::before{
  content: "";
  width: 150px;
  height: 2px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
  right: 10px;
}
.about-header::after{
  content: "";
  width: 150px;
  height: 2px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
  left: 10px;
}
.about-text{
  width: 30%;
  height: 500px;
  padding-top: 50px;
  line-height: 1.5rem;
  vertical-align: middle;
  font-size: 1.5rem;
  color: aliceblue;
}
.about-background{
  width: 350px;
  height: 550px;
  background-image: url(./images/background-disk_helmet.jpg);
  background-size: cover;
  border-radius: 15px;
  border: 1px solid wheat;
  box-shadow: -10px 10px 5px rgb(191, 188, 188);
  
}
.about-background:hover{
  /* background-position: -20px; */
  background-size:auto ;
  box-shadow: -10px 10px 5px rgb(213, 188, 144);
  /* rotate: -355deg; */
  transition-duration: 400ms;

}

/* therd section */
.therd-section{
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -200px;
  background-color: rgb(143, 123, 111);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.projects-title{
  width: 100%;
  height: 18%;
  color: aliceblue;
  display: inherit;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* background-color: aliceblue; */
}
.projects-title::before{
  content: "";
  width: 150px;
  height: 2px;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  position: relative;
  right: 10px;
}
.projects-title::after{
  content: "";
  width: 150px;
  height: 2px;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  position: relative;
  left: 10px;
}
.projects-gallery{
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 5px;
  margin: 10px;
  /* background-color: aqua; */
}
.gallery-img{
  background-image: url(./images/background-server_cabenant.avif);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
}
.gallery-img1{
  background-image: url(./images/background-city_grey.avif);
}
.gallery-img2{
  background-image: url(./images/background-office.avif);
}
/* .gallery-img:hover{
  position: absolute;
  left: 25%;
  top: -25%;
  width: 50%;
  height: 50%;
} */
.project-desription{
  color: rgb(255, 255, 255);
  background-image: linear-gradient(180deg ,transparent ,rgb(53, 53, 53),rgb(5, 5, 5));
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px;
  /* text-align: center; */
  padding: 0px 10px 20px 10px;
  font-size: 1.1rem;
  margin: 0;
}
@media (max-width:950px) {
  .nav-list{
    display: none;
  }
  .burger{
    display: initial;
  }
  .therd-section{
    height: fit-content;
  }
  .projects-gallery{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
    margin: 10px;
    /* background-color: aqua; */
  }
}
@media (max-width:500px) {
  .nav-list{
    display: none;
  }
  .burger{
    display: initial;
  }
  .therd-section{
    height: fit-content;
  }
  .projects-gallery{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 5px;
    margin: 10px;
    /* background-color: aqua; */
  }
}